{% if pages > 1 %}
    <ul class="pagination">
        {% if pages > 2 %}
            <li class="page-item start {% if page == 1 %}disabled{% endif %}">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({(get): 1}))) }}" class="page-link">
                    <<
                </a>
            </li>
        {% endif %}

        <li class="page-item prev {% if page == 1 %}disabled{% endif %}">
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({(get): page - 1}))) }}" class="page-link" {% if page > 1 %}rel="prev"{% endif %}>
                <
            </a>
        </li>

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(page - 4, 1), min(page + 4, pages)) %}
            <li class="page-item {% if p == page %}active{% else %}hidden-xs{% endif %}">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({(get): p}))) }}" class="page-link">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        <li class="page-item next {% if page == pages %}disabled{% endif %}">
            <a href="{{ page < pages ? path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({(get): page +1 }))) : '#' }}" class="page-link" {% if page < pages %}rel="next"{% endif %}>
                >
            </a>
        </li>

        {% if pages > 2 %}
            <li class="page-item end {% if page == pages %}disabled{% endif %}">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({(get): pages}))) }}" class="page-link">
                    >>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
